<div class="rules-tpl wd-content">
    <h1>竞品监控规则 - 文件类型规则</h1>
    <div class="btn add-rule-btn" ng-click="addItem();">添加一条规则</div>

    <div class="file-rule-form wd-show-box" ng-repeat="item in dataList">
        <div class="header">
            <p>id：{{item.id || "新建"}}</p>
        </div>
        <div class="body">
            <p class="title">文件类型</p>
            <p>{{item.title || '（空）'}}</p>
            <p class="title">清理风险</p>
            <p ng-if="!item.uiEditStatus">{{item.alertInfo || '（空）'}}</p>
            <input ng-if="item.uiEditStatus" type="text" class="form-control" value="" ng-model="item.alertInfo">
            <p class="title">风险级别</p>
            <p ng-if="!item.uiEditStatus">{{item.uiAdviceLevel.name}}</p>  
            <select  ng-if="item.uiEditStatus" class="form-control" ng-model="item.uiAdviceLevel" ng-options="title.name for title in adviceLevelOptions"></select>
        </div>
        <div class="footer">
            <div class="btns">
                <p ng-if="!item.uiEditStatus" class="edit" ng-click="editItem(item)">编辑条目</p>
                <p ng-if="item.uiEditStatus" ng-click="delItem(item)">删除条目</p>
                <p ng-if="item.uiEditStatus" ng-click="cancelItem(item)">撤销编辑</p>
                <p  ng-if="item.uiEditStatus" class="finish" ng-click="finishItem(item)">完成编辑</p>
            </div>
        </div>
    </div>
    <h3 ng-if="!dataList.length" class="error">无数据</h3>
</div>

<div wd-account-header></div>
<div wd-sidebar></div>
<div wd-footer></div>
