<div wd-account-header></div>
<div wd-sidebar></div>
<div class="rules-tpl wd-content">
    <h1>竞品监控规则 - 文案映射规则</h1>
    <div class="btn add-rule-btn" ng-click="addItem();">添加一条规则</div>
    <div class="search-toolbar">
        <p>原始项目名：</p>
        <input type="text" class="form-control" value="" ng-model="searchSrcItemName">
        <p>项目名：</p>
        <input type="text" class="form-control" value="" ng-model="searchItemName">
        <div class="btn" ng-click="search();">搜索</div>
    </div>
    <div class="doc-rule-form wd-show-box angular-animation" ng-repeat="item in dataList">
        <div class="header">
            <p>规则 {{item.id}}</p>
        </div>
        <div class="body">
            <div class="flag flag-compete">原始</div>
            <table class="table table-condensed">
                <tr>
                    <td class="title">原始项目名</td>
                    <td ng-if="!item.uiEditStatus" class="border-right">{{item.srcItemName || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <input type="text" class="form-control" value="" ng-model="item.srcItemName">
                    </td>
                    <td class="title">项目名</td>
                    <td ng-if="!item.uiEditStatus">{{item.ourItemName || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <input type="text" class="form-control" value="" ng-model="item.ourItemName">
                    </td>
                    <td class="title">文件描述</td>
                    <td ng-if="!item.uiEditStatus">{{item.ourDesc || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <select class="form-control" ng-model="item.ourDesc" ng-options="title for title in docDescOptions"></select>
                    </td>
                </tr>
                <tr>
                    <td class="title">原始描述信息</td>
                    <td ng-if="!item.uiEditStatus" class="border-right">{{item.srcDesc || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <textarea class="form-control" value="" ng-model="item.srcDesc"></textarea>
                    </td>
                    <td class="title">风险缩写</td>
                    <td ng-if="!item.uiEditStatus">{{item.ourSimpleAlertInfo || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <select class="form-control" ng-model="item.uiSimpleAlertInfo" ng-options="title.name for title in alertInfoOptions"></select>
                    </td>
                    <td class="title">清理风险</td>
                    <td ng-if="!item.uiEditStatus">{{item.ourAlertInfo || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <select class="form-control" ng-model="item.uiAlertInfo" ng-options="title.name for title in alertInfoOptions"></select>
                    </td>
                </tr>
                <tr>
                    <td class="title">Notice</td>
                    <td ng-if="!item.uiEditStatus" class="border-right">{{item.srcNotice || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <textarea class="form-control" value="" ng-model="item.srcNotice"></textarea>
                    </td>
                    <td class="title">文件分类</td>
                    <td ng-if="!item.uiEditStatus">{{item.uiContentTypeTitle || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <select class="form-control" ng-model="item.uiContentTypeOption" ng-options="t.uiTitle for t in contentTypeOptions" ng-change="changeAdviceLevel(item)"></select>
                    </td>
                    <td class="title">风险级别</td>
                    <td>{{item.uiAdviceLevel.name || '（空）'}}</td>
                    <!--
                    <td ng-if="item.uiEditStatus">
                        <select class="form-control" ng-model="item.uiAdviceLevel" ng-options="title.name for title in adviceLevelOptions"></select>
                    </td>
                    -->
                </tr>
                <tr>
                    <td class="title">原始风险</td>
                    <td ng-if="!item.uiEditStatus" class="border-right">{{item.srcAlertInfo || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <textarea class="form-control" value="" ng-model="item.srcAlertInfo"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footer">
            <div class="btns">
                <p ng-if="!item.uiEditStatus" class="edit" ng-click="editItem(item);">编辑条目</p>
                <p ng-if="item.uiEditStatus" ng-click="delItem(item);">删除条目</p>
                <p ng-if="item.uiEditStatus" ng-click="cancelItem(item);">撤销编辑</p>
                <p ng-if="item.uiEditStatus" class="finish" ng-click="finishItem(item);">完成编辑</p>
            </div>
        </div>
    </div>
    <!-- doc-rule-form end -->
    <h3 ng-if="!dataList.length && !firstFlag" class="error">无数据</h3>
    <div ng-if="dataList.length === pageListLength" class="pages-btns">
        <p ng-click="pageUp();">上一页</p>
        <p ng-click="pageDown();">下一页</p>
    </div>

</div>
<div wd-footer></div>