<div class="rules-tpl wd-content">
    <h1>竞品监控规则 - {{title}}</h1>
    <div class="btn add-rule-btn" ng-click="addItem();">添加一条规则</div>

    <div class="file-rule-form wd-show-box" ng-repeat="item in dataList">
        <div class="header">
            <p>{{item.type.toUpperCase()}} 类文案</p>
        </div>
        <div class="body">
            <table class="table table-condensed">
                <tr>
                    <td class="title">字段名</td>
                    <td>{{item.field || '（空）'}}</td>
                    <td class="title">类别</td>
                    <td ng-if="!item.uiEditStatus">{{item.type || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus"><input type="text" class="form-control" value="" ng-model="item.type"></td>
                    <td class="title">规则详情</td>
                    <td ng-if="!item.uiEditStatus">{{item.labelContent || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <input class="detail-input form-control" type="text" value="" ng-model="item.labelContent">
                    </td>
                </tr>

                <!-- 字段为 alertInfo 时候才用 -->
                <tr ng-if="item.uiSimpleAlertInfo" >
                    <td class="title">字段名</td>
                    <td>{{item.uiSimpleAlertInfo.field || '（空）'}}</td>
                    <td class="title">类别</td>
                    <td>{{item.type || '（空）'}}</td>
                    <td class="title">规则详情</td>
                    <td ng-if="!item.uiEditStatus">{{item.uiSimpleAlertInfo.labelContent || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <input class="detail-input form-control" type="text" value="" ng-model="item.uiSimpleAlertInfo.labelContent">
                    </td>
                </tr>
                <!-- 字段为 alertInfo 时候才用 end -->
            </table>
        </div>
        <div class="footer">
            <div class="btns">
                <p ng-if="!item.uiEditStatus" class="edit" ng-click="editItem(item)">编辑条目</p>
                <p ng-if="item.uiEditStatus" ng-click="delItem(item)">删除条目</p>
                <p ng-if="item.uiEditStatus" ng-click="cancelItem(item)">撤销编辑</p>
                <p  ng-if="item.uiEditStatus" class="finish" ng-click="finishItem(item)">完成编辑</p>
            </div>
        </div>
    </div>
    <h3 ng-if="!dataList.length && !firstFlag" class="error">无数据</h3>
</div>

<div wd-account-header></div>
<div wd-sidebar></div>
<div wd-footer></div>
