<div wd-account-header></div>
<div wd-sidebar></div>
<div class="rules-tpl wd-content">
    <h1>竞品监控规则 - 文案生成规则</h1>
    <div class="btn add-rule-btn">添加一条规则</div>

    <div class="file-rule-form wd-show-box">
        <div class="header">
            <p>A 类文案</p>
        </div>
        <div class="body">
            <select class="form-control">
                <option>文案</option>
            </select>
            <p>=</p>
            <input type="text" class="form-control" value="这是">
            <p>+</p>
            <select class="form-control">
                <option>字段</option>
            </select>
            <p>=</p>
            <select class="form-control">
                <option>应用名</option>
            </select>
            <p>+</p>
            <select class="form-control">
                <option>文案</option>
            </select>
            <p>=</p>
            <input type="text" class="form-control" value="这是">
            <p>+</p>
            <select class="form-control">
                <option>字段</option>
            </select>
            <p>=</p>
            <select class="form-control">
                <option>项目名</option>
            </select>
        </div>
        <div class="footer">
            <div class="btns">
                <p>删除条目</p>
                <p>撤销编辑</p>
                <p class="finish">完成编辑</p>
            </div>
        </div>
    </div>

    <div class="add-rule-form wd-show-box">
        <div class="header">
            <p>规则 001</p>
        </div>
        <div class="body">
            <div class="left">
                <ul>
                    <li>
                        <p class="title">原始项目名</p>
                    </li>
                    <li>
                        <p class="title">原始 NOTICE</p>
                    </li>
                </ul>
                <ul>
                    <li><input type="text" class="form-control" value=""></li>
                    <li><input type="text" class="form-control" value=""></li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <p class="title">项目名</p>
                        <input type="text" class="form-control" value="">
                    </li>
                    <li>
                        <p class="title">文件分类</p>
                        <select class="form-control">
                            <option>应用主目录</option>
                        </select>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p class="title">文件描述</p>
                        <select class="form-control">
                            <option>应用主目录</option>
                        </select>
                    </li>
                    <li>
                        <p class="title">清理风险</p>
                        <select class="form-control">
                            <option>应用主目录</option>
                        </select>
                    </li>
                </ul>
            </div>
            <!-- right end -->
        </div>
        <div class="footer">
            <div class="btns">
                <p>删除条目</p>
                <p>撤销编辑</p>
                <p class="finish">完成编辑</p>
            </div>
        </div>
    </div>
</div>
<div wd-footer></div>