/* 各种标准色 */
$standard-green: #3baa24;
$standard-red: #f24949;
$standard-pink: #eb6f67;
$standard-orange: #e9bf31;
$standard-wheat: #d4b526;
$standard-olive-green: #79a800;
$standard-blue-green: #34a97d;
$standard-light-green: #95c60e;
$standard-blue: #3788bb;
$border-gray: #e7e7e7;