.footer {
    position: fixed;
    bottom: 0px;
    background-color: $background-gray;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    .help {
        margin: 0px;
        font-size: 12px;
    }
}