.rules-tpl {
    .add-rule-btn {
        background-color: $background-gray;
        border-radius: 0px;
    }
    .doc-rule-form {
        .body {
            input, select {
                color: #000;
            }
            ul {
                float: left;
                margin-right: 30px;
                li {
                    height: 35px;
                    line-height: 35px;
                }
            }
            .title {
                color: $standard-green;
                margin-right: 10px;
            }
            .left {
                float: left;
                width: 50%;
                border-right: 1px solid $border-gray;
                padding: 20px 20px;
                ul.title {
                    margin-right: 0px;
                    text-align: right;
                }
                ul.content li {
                    width: 292px;
                    overflow: hidden;
                }
            }
            .right {
                padding: 20px 20px;
                float: left;
            }
        }
    }

    .file-rule-form {
        .body {
            padding: 15px 20px;
            .detail-input {
                width: 400px;
            }
            .title {
                color: $standard-green;
                margin-left: 20px; 
            }
        }
        p {
            margin-right: 5px;
        }
        input {
            margin-right: 10px;
        }
    }

    .file-rule-form, .doc-rule-form {
        margin-top: 20px;
        .footer {
            .btns {
                float: right;
                p {
                    cursor: pointer;
                    border-right: 1px solid #000;
                    margin-right: 5px;
                    padding-right: 5px;
                }
                .edit {
                    border: none;
                }
                .finish {
                    border: none;
                    color: $standard-green;
                }
            }
        }        
    }
    .pages-btns {
        margin: 20px 0px;
        text-align: center;
        color: $standard-green;
        p {
            margin-right: 20px;
        }
    }
}