.rules-tpl {
    .add-rule-btn {
        background-color: $background-gray;
        border-radius: 0px;
    }
    .doc-rule-form {
        .body {
            position: relative;
            input, select {
                color: #000;
            }
            .title {
                color: $standard-green;
                margin-right: 10px;
                min-width: 110px;
                text-align: right;
            }
            .border-right {
                border-right: 1px solid $border-gray;
            }
            table td {
                padding: 15px 15px 10px 5px;
                border: none;
                min-width: 130px;
            }
            .flag {
                position: absolute;
                color: #fff;
                padding: 40px 25px 0px 25px;
                @include rotate(-45deg);
                &.flag-compete {
                    background-color: $standard-blue;
                    left: -40px;
                    top: -24px;
                }
            }
        }
    }

    .file-rule-form {
        .body {
            padding: 15px 20px;
            .detail-input {
                width: 400px;
            }
            .title {
                color: $standard-green;
                margin-left: 20px; 
            }
        }
        p {
            margin-right: 5px;
        }
        input {
            margin-right: 10px;
        }
    }

    .file-rule-form, .doc-rule-form {
        margin-top: 20px;
        .footer {
            .btns {
                float: right;
                p {
                    cursor: pointer;
                    border-right: 1px solid #000;
                    margin-right: 5px;
                    padding-right: 5px;
                }
                .edit {
                    border: none;
                }
                .finish {
                    border: none;
                    color: $standard-green;
                }
            }
        }        
    }
    .pages-btns {
        margin: 20px 0px;
        text-align: center;
        color: $standard-green;
        p {
            cursor: pointer;
            margin-right: 20px;
        }
    }
}