<div wd-account-header></div>
<div wd-sidebar></div>
<div class="monitor wd-content">
    <h1>竞品监控 - 全部竞品项目</h1>
    <p class="tips">
        今日审核
        <span class="num">{{counterList.todayReviewed}}</span>
        剩余
        <span class="num">{{counterList.monitorAll}}</span>
    </p>
    <div class="toolbar">
        <div class="left">
            <input type="checkbox" class="form-control" ng-checked="isCheckedAll" ng-click="toggleCheckAll()">
            <p>全选</p>
            <div class="edit-all-btn btn" ng-disabled="batchEditBtnDisabled" ng-click="batchEdit()">批量快速编辑</div>
        </div>
        <div class="right">
            <select class="form-control" ng-model="pathType" ng-options="title.name for title in pathTypeOptions"></select>
            <select class="form-control" ng-model="source" ng-options="title.name for title in sourceOptions"></select>
            <select class="form-control" ng-model="sort" ng-options="title.name for title in sortOptions"></select>
            <select class="form-control" ng-model="order" ng-options="title.name for title in orderOptions"></select>
            <p class="page-label">每页展示</p>
            <input class="page-input form-control" type="text" ng-model="pageListLength" value="{{pageListLength}}" ng-model-options="{ debounce: 300 }">
            <p>条</p>
        </div>
    </div>
    <div class="edit-more-toolbar" ng-if="batchEditStatus">
        <p>批量编辑</p>
        <div class="btn" ng-click="cancelBatchEdit()">撤销编辑</div>
        <div class="btn" ng-click="batchAutoLabel()">自动生成</div>
        <div class="finish-btn btn" ng-click="finishBatchEdit()">完成编辑</div>
    </div>
    <div class="monitor-item wd-show-box angular-animation" ng-repeat="item in dataList">
        <div class="header">
            <input type="checkbox" ng-checked="item.uiChecked" ng-click="checkedItem(item)">
            <p class="id">id:{{item.id}}</p>
            <p ng-if="item.pathType">{{getPathType(item.pathType)}}</p>
            <p ng-if="item.appName">{{item.appName}}</p>
            <p ng-if="item.installCount">{{item.installCount}} 次下载</p>
            <br>
            <p ng-if="item.pkgName">包名：{{item.pkgName}}</p>
            <p ng-if="item.regPkgName">正则包名：{{item.regPkgName}}</p>
            <p ng-if="item.filePath">主路径：{{item.filePath}}</p>
            <p ng-if="item.subPath">次路径：{{item.subPath}}</p>
        </div>
        <div class="body">
            <table class="table table-condensed">
                <tr>
                    <td class="title">文件类别</td>
                    <td>
                        <span class="flag flag-compete">{{item.uiSource.name}}</span>
                        （无）
                    </td>
                    <td ng-if="!item.uiEditStatus">
                        <span class="flag flag-our">新生成</span>
                        {{item.uiContentTypeOption.uiTitle || '（空）'}}
                    </td>
                    <td ng-if="item.uiEditStatus">
                        <select class="form-control" ng-model="item.uiContentTypeOption" ng-options="t.uiTitle for t in contentTypeOptions"></select>
                    </td>
                </tr>
                <tr>
                    <td class="title">项目名</td>
                    <td>{{item.srcItemName || '（空）'}}</td>
                    <td ng-if="!item.uiEditStatus">{{item.itemName || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <input type="text" class="form-control" ng-model="item.itemName">
                    </td>
                </tr>
                <tr>
                    <td class="title">文件描述</td>
                    <td>{{item.srcDesc || '（空）'}}</td>
                    <td ng-if="!item.uiEditStatus">{{item.desc || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <input type="text" class="form-control" ng-model="item.desc">
                    </td>
                </tr>
                <tr>
                    <td class="title">清理风险</td>
                    <td>{{item.srcAlertInfo || '（空）'}}</td>
                    <td ng-if="!item.uiEditStatus">{{item.alertInfo || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <input type="text" class="form-control" ng-model="item.alertInfo">
                    </td>
                </tr>
                <tr>
                    <td class="title">清理风险缩写</td>
                    <td>{{item.srcSimpleAlertInfo || '（空）'}}</td>
                    <td ng-if="!item.uiEditStatus">{{item.simpleAlertInfo || '（空）'}}</td>
                    <td ng-if="item.uiEditStatus">
                        <input type="text" class="form-control" ng-model="item.simpleAlertInfo">
                    </td>
                </tr>
                <tr>
                    <td class="title">风险级别</td>
                    <td>{{item.uiSrcAdviceLevelTitle || '（空）'}}</td>
                    <td>{{item.uiAdviceLevelTitle || '（空）'}}</td>
                    <!--
                    <td ng-if="item.uiEditStatus">
                        <select class="form-control" ng-model="item.uiAdviceLevel" ng-options="title.name for title in adviceLevelOptions"></select>
                    </td>
                    -->
                </tr>
            </table>
        </div>
        <div class="footer">
            <div class="left">
                <i data-title="" class="info-icon glyphicon glyphicon-time" ng-click="showDetailHistory(item.id)"></i>
                <p class="info">
                    {{item.changeHistories[item.changeHistories.length - 1].src}}
                    &nbsp;
                    {{item.changeHistories[item.changeHistories.length - 1].field}}
                    &nbsp;
                    “{{item.changeHistories[item.changeHistories.length - 1].from}}”
                    变为
                    “{{item.changeHistories[item.changeHistories.length - 1].to}}”
                </p>
            </div>
            <div class="right">
                <p ng-if="!item.uiEditStatus" class="btn" ng-click="editItem(item)">快速编辑</p>
                <p ng-if="item.uiEditStatus" class="editing">[编辑中]</p>
                <p class="btn" ng-click="cancelEditItem(item)" ng-if="item.uiEditStatus">撤销编辑</p>
                <p class="btn" ng-if="item.uiEditStatus" ng-click="autoLabelItem(item)">自动生成</p>
                <p class="publish btn" ng-if="item.uiEditStatus" ng-click="finishEditItem(item)">完成编辑</p>
                <p class="btn" ng-if="!item.uiEditStatus" ng-click="ignoreItem(item)">忽略条目</p>
                <p class="btn" ng-if="!item.uiEditStatus" ng-click="checkFinish(item)">审核完成</p>
                <p class="btn" ng-if="!item.uiEditStatus" ng-click="offlineItem(item)">下线条目</p>
                <p class="publish btn" ng-if="!item.uiEditStatus" ng-click="publicItem(item)">上线条目</p>
                <i class="setting-icon btn glyphicon glyphicon-info-sign" title="查看详情" ng-click="showDetail(item.id)"></i>
            </div>
        </div>
    </div>
    <h3 ng-if="!dataList.length && !firstFlag" class="error">无数据</h3>
    <div class="footer" ng-if="dataList.length">
        <div class="left">
            <input type="checkbox" class="form-control" ng-checked="isCheckedAll" ng-click="toggleCheckAll()">
            <p>全选</p>
            <div class="btn">批量上线</div>
        </div>
        <div class="right">
            <div class="pages-btns" ng-if="dataList.length === pageListLength">
                <p ng-click="pageUp();">上一页</p>
                <p ng-click="pageDown();">下一页</p>
            </div>
        </div>
    </div>
    <div class="wd-modal" wd-modal data-title="{{modalTitle}}" data-content="{{modalContent}}" data-show="{{showModal}}"></div>
    <!-- <div ng-if="showLoading" class="wd-little-loading" data-visible="true"></div> -->
</div>
<div wd-footer></div>
<!-- <div wd-loading data-show="{{showLoading}}"></div> -->
