<div wd-account-header></div>
<div wd-sidebar></div>
<div class="monitor wd-content">
    <h1>竞品监控 - 全部竞品项目</h1>
    <p class="tips">
        今日审核
        <span class="num">{{counterList.todayReviewed}}</span>
        剩余
        <span class="num">{{counterList.monitorAll}}</span>
    </p>
    <div class="toolbar">
        <div class="left">
            <input type="checkbox" class="form-control">
            <p>全选</p>
            <div class="edit-all-btn btn">批量快速编辑</div>
        </div>
        <div class="right">
            <select class="form-control" ng-model="pathType" ng-options="title for title in pathTypeOptions"></select>
            <select class="form-control" ng-model="source" ng-options="title for title in sourceOptions"></select>
            <select class="form-control" ng-model="sort" ng-options="title for title in sortOptions"></select>
            <p class="page-label">每页展示</p>
            <input class="page-input" type="text" class="form-control" value="">
            <p>条</p>
        </div>
    </div>
    <div class="edit-more-toolbar">
        <p>批量编辑</p>
        <div class="btn">撤销编辑</div>
        <div class="btn">自动生成</div>
        <div class="finish-btn btn">完成编辑</div>
    </div>
    <div class="monitor-item wd-show-box" ng-repeat="item in dataList">
        <div class="header">
            <input type="checkbox">
            <p class="id">id:{{item.id}}</p>
            <p ng-if="item.pathType">{{pathTypeOptions[item.pathType]}}</p>
            <p ng-if="item.appName">{{item.appName}}</p>
            <p ng-if="item.installCount">{{item.installCount}} 次下载</p>
            <br>
            <p ng-if="item.pkgName">包名：{{item.pkgName}}</p>
            <p ng-if="item.regPkgName">正则包名：{{item.regPkgName}}</p>
            <p ng-if="item.filePath">主路径：{{item.filePath}}</p>
            <p ng-if="item.subPath">次路径：{{item.subPath}}</p>
        </div>
        <div class="body">
            <ul class="category-list">
                <li class="item">文件类别</li>
                <li class="item">项目名</li>
                <li class="item">文件描述</li>
                <li class="item">清理风险</li>
                <li class="item">清理风险缩写</li>
                <li class="item">风险级别</li>
            </ul>
            <ul class="old-list">
                <li class="item">{{item.srcContentType || '（空）'}}</li>
                <li class="item">{{item.srcItemName || '（空）'}}</li>
                <li class="item">{{item.srcDesc || '（空）'}}</li>
                <li class="item">{{item.srcAlertInfo || '（空）'}}</li>
                <li class="item">{{item.srcSimpleAlertInfo || '（空）'}}</li>
                <li class="item">{{adviceLevelOptions[item.srcAdviceLevel] || '（空）'}}</li>
            </ul>
            <ul class="old-list">
                <li class="item">{{item.contentType || '（空）'}}</li>
                <li class="item">{{item.itemName || '（空）'}}</li>
                <li class="item">{{item.desc || '（空）'}}</li>
                <li class="item">{{item.alertInfo || '（空）'}}</li>
                <li class="item">{{item.simpleAlertInfo || '（空）'}}</li>
                <li class="item">{{adviceLevelOptions[item.adviceLevel] || '（空）'}}</li>
            </ul>
        </div>
        <div class="footer">
            <div class="left">
                <i class="info-icon glyphicon glyphicon-info-sign"></i>
                <p class="info">竞品 1 新索拉卡解放东路就阿里山的减肥啦</p>
            </div>
            <div class="right">
                <p>快速编辑</p>
                <p>忽略条目</p>
                <p>审核完成</p>
                <p class="publish">上线条目</p>
                <i class="setting-icon glyphicon glyphicon-cog"></i>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="left">
            <input type="checkbox" class="form-control">
            <p>全选</p>
            <div class="btn">批量上线</div>
        </div>
        <div class="right">
            <div class="pages-btns">
                <p>上一页</p>
                <p class="num">1</p>
                <p class="num">2</p>
                <p class="num">3</p>
                <p>下一页</p>
            </div>
        </div>
    </div>
</div>
<div wd-footer></div>

<!-- <div class="test-btn btn" wd-modal-btn data-title="点击"></div> -->
<div wd-modal data-title="{{modalTitle}}" data-content="{{modalContent}}"></div>

<div wd-loading data-show="{{showLoading}}"></div>
