<div wd-account-header></div>
<div wd-sidebar></div>
<div class="monitor wd-content">
    <h1>竞品监控 - 全部竞品项目</h1>
    <p class="tips">今日审核<span class="num">12312</span>剩余<span class="num">12312</span></p>
    <div class="toolbar">
        <div class="left">
            <input type="checkbox" class="form-control">
            <p>全选</p>
            <div class="edit-all-btn btn">批量快速编辑</div>
        </div>
        <div class="right">
            <select class="form-control">
                <option>应用主目录</option>
            </select>
            <select class="form-control">
                <option>来自竞品1</option>
            </select>
            <select class="form-control">
                <option>按照下载量排序</option>
            </select>
            <p class="page-label">每页展示</p>
            <input class="page-input" type="text" class="form-control" value="">
            <p>条</p>
        </div>
    </div>
    <div class="edit-more-toolbar">
        <p>批量编辑</p>
        <div class="btn">撤销编辑</div>
        <div class="btn">自动生成</div>
        <div class="finish-btn btn">完成编辑</div>
    </div>
    <div class="monitor-item wd-show-box">
        <div class="header">
            <input type="checkbox">
            <p class="id">id:123123</p>
            <p>应用目录</p>
            <p>微信</p>
            <p>1231231下载</p>
            <br>
            <p>包名：com.xxx.tab</p>
            <p>正则包名：/com.xxx.tab</p>
            <p>主路径：/storage/wangxiao/wangxiao</p>
            <p>次路径：/wangxiao/wangxiao/wangxiao</p>
        </div>
        <div class="body">
            <ul class="category-list">
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
            </ul>
            <ul class="old-list">
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
            </ul>
            <ul class="new-list">
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
                <li class="item">文件类别王潇王潇</li>
            </ul>
        </div>
        <div class="footer">
            <div class="left">
                <i class="info-icon glyphicon glyphicon-info-sign"></i>
                <p class="info">竞品 1 新索拉卡解放东路就阿里山的减肥啦</p>
            </div>
            <div class="right">
                <p>快速编辑</p>
                <p>忽略条目</p>
                <p>审核完成</p>
                <p class="publish">上线条目</p>
                <i class="setting-icon glyphicon glyphicon-cog"></i>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="left">
            <input type="checkbox" class="form-control">
            <p>全选</p>
            <div class="btn">批量上线</div>
        </div>
        <div class="right">
            <div class="pages-btns">
                <p>上一页</p>
                <p class="num">1</p>
                <p class="num">2</p>
                <p class="num">3</p>
                <p>下一页</p>
            </div>
        </div>
    </div>
</div>
<div wd-footer></div>

<!-- <div class="test-btn btn" wd-modal-btn data-title="点击"></div> -->
<div wd-modal data-title="{{modalTitle}}" data-content="{{modalContent}}"></div>

