<div class="monitor-detail wd-content">
    <div class="main-info">
        <p class="title">id:{{detail.id}}</p>
        <p class="title">{{getPathType(detail.pathType)}}</p><br>
        <p class="title2">应用名：{{detail.appName || '（空）'}}</p>
        <p class="title2">{{detail.installCount}} 次下载</p><br>
        <p>包名（pkgName）：{{detail.pkgName || '（空）'}}</p><br>
        <p>正则包名（regPkgName）：{{detail.regPkgName || '（空）'}}</p>
        <!-- <a>验证</a> -->
        <br>
        <p>路径（filePath）：{{detail.filePath || '（空）'}}</p><br>
        <p>子路径（subPath）：{{detail.subPath || '（空）'}}</p><br>
        <p>根路径（rootPath）：{{detail.rootPath || '（空）'}}</p><br>
        <p>上次修改时间（latestModification）：{{detail.updateTime | date:'yyyy-MM-dd' || '（空）'}}</p><br>
        <p>最近跟新人（lastUpdateBy）：{{detail.lastUpdatedBy || '（空）'}}</p><br>
        <p>上线状态（onlineStatus）：{{detail.onlineStatus || '（空）'}}</p><br>
        <p>客户端最低版本号（leastVC）：{{detail.leastVC || '（空）'}}</p>
    </div>
<!--
    <div class="title">今日警报详情</div>
    <div class="warn-detail">
        <p class="title">建议清理被取消：12312 次</p><br>
        <p>123213 次展示</p>
        <p>0.12%取消率</p>
        <p>被取消总体积 12.3M</p>
        <p>次均被取消体积 12.1k</p>
        <br>
        <p class="title">谨慎清理被取消：0 次</p><br>
        <p>1123123次展示</p>
        <p>0.00% 清理率</p>
        <p>被清理总体积0.0M</p>
        <p>次均被清理体积0.0k</p>
        <br>
        <p class="title">被暂不清理：123次</p><br>
        <p>123123次展示</p>
        <p>0.12%暂不清理率</p>
        <p>被暂不清理总体积12312M</p>
        <p>次均被取消体积12.1k</p>
        <br>
        <p>暂不清理主要原因：“里面是有用的东西”，“其他”</p>
    </div>
-->
    <div class="title">条目信息详情</div>
    <div class="editable-detail wd-show-box">
        <div class="body">
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>原始数据</th>
                    <th>线上数据</th>
                </tr>
                <tr>
                    <td class="title">文件类别</td>
                    <td>{{detail.uiSrcContentTypeTitle || "(无)"}}</td>
                    <td ng-if="!editStatus">{{detail.uiContentTypeTitle || "(无)"}}</td>
                    <td ng-if="editStatus">
                        <select class="form-control" ng-model="detail.uiContentTypeOption" ng-options="t.uiTitle for t in contentTypeOptions"></select>
                    </td>
                </tr>
                <tr>
                    <td class="title">项目名</td>
                    <td>{{detail.srcItemName || "(空)"}}</td>
                    <td ng-if="!editStatus">{{detail.itemName || "(空)"}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.itemName">
                    </td>
                </tr>
                <tr>
                    <td class="title">文件描述</td>
                    <td>{{detail.srcDesc || "(空)"}}</td>
                    <td ng-if="!editStatus">{{detail.desc || "(空)"}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.desc">
                    </td>
                </tr>
                <tr>
                    <td class="title">清理风险</td>
                    <td>{{detail.srcAlertInfo || "(空)"}}</td>
                    <td ng-if="!editStatus">{{detail.alertInfo || "(空)"}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.alertInfo">
                    </td>
                </tr>                
                <tr>
                    <td class="title">清理风险缩写</td>
                    <td>{{detail.srcSimpleAlertInfo || "(空)"}}</td>
                    <td ng-if="!editStatus">{{detail.simpleAlertInfo || "(空)"}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.simpleAlertInfo">
                    </td>
                </tr>
                <tr>
                    <td class="title">风险级别</td>
                    <td>{{detail.uiSrcAdviceLevelTitle || "(空)"}}</td>
                    <td>{{detail.uiAdviceLevelTitle || "(空)"}}</td>
                    <!--
                    <td ng-if="editStatus">
                        <select class="form-control" ng-model="detail.uiAdviceLevel" ng-options="t.name for t in adviceLevelOptions"></select>
                    </td>
                    -->
                </tr>
            </table>
        </div>
        <div class="footer">
            <div class="btns">
                <p ng-if="!editStatus" class="btn" ng-click="edit(detail);">编辑</p>
                <p ng-if="editStatus" class="btn" ng-click="cancel(detail);">撤销</p>
                <p ng-if="editStatus" class="btn finish" ng-click="finish(detail);">完成</p>
            </div>
        </div>
    </div>
    <div class="title" ng-if="detail.changeHistories.length">竞品监控历史</div>
    <div class="history-box" ng-if="detail.changeHistories.length">
        <ul>
            <li ng-repeat="item in detail.changeHistories">
                <p>{{item.time || "(空)"}}</p>
                <p>来源：{{item.src || "(空)"}}</p>
                <p>字段：{{item.field || "(空)"}}</p>
                <p>操作：{{item.action || "(空)"}}</p>
                <p>从“{{item.from || "(空)"}}”</p>
                <p>变成“{{item.to || "(空)"}}”</p>
            </li>
        </ul>
    </div>
    <div class="title" ng-if="detail.editHistories.length">条目编辑历史</div>
    <div class="history-box" ng-if="detail.editHistories.length">
        <ul>
            <li ng-repeat="item in detail.changeHistories">
                <p>{{item.time}}</p>
                <p>来源：{{item.src}}</p>
                <p>字段：{{item.field}}</p>
                <p>操作：{{item.action}}</p>
                <p>从“{{item.from}}”</p>
                <p>变成“{{item.to}}”</p>
            </li>
        </ul>
    </div>
</div>
<div wd-account-header></div>
<div wd-sidebar></div>
<div wd-footer></div>