<div class="monitor-detail wd-content">
    <div class="main-info">
        <p class="title">id:{{detail.id}}</p>
        <p class="title" ng-if="detail.onlineId">onlineId:{{detail.onlineId}}</p>
        <p class="title">{{getPathType(detail.pathType)}}</p><br>
        <p class="title2">应用名：{{detail.appName || '（空）'}}</p>
        <p class="title2">{{detail.installCount}} 次下载</p><br>
        <p>包名（pkgName）：{{detail.pkgName || '（空）'}}</p><br>
        <p>正则包名（regPkgName）：{{detail.regPkgName || '（空）'}}</p>
        <!-- <a>验证</a> -->
        <br>
        <p>路径（filePath）：{{detail.filePath || '（空）'}}</p><br>
        <p>子路径（subPath）：{{detail.subPath || '（空）'}}</p><br>
        <p>根路径（rootPath）：{{detail.rootPath || '（空）'}}</p><br>
        <p>上次修改时间（latestModification）：{{detail.updateTime | date:'yyyy-MM-dd' || '（空）'}}</p><br>
        <p>最近跟新人（lastUpdateBy）：{{detail.lastUpdatedBy || '（空）'}}</p><br>
        <p>上线状态（onlineStatus）：{{detail.onlineStatus || '（空）'}}</p><br>
        <p>客户端最低版本号（leastVC）：{{detail.leastVC}}</p><br>
        <p>风险级别：{{detail.uiSrcAdviceLevelTitle || "（空）"}}</p><br>
        <p>清理通知：{{detail.notice}}</p>
    </div>
    <div class="title">条目信息详情</div>
    <div class="editable-detail wd-show-box">
        <div class="body">
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>原始数据</th>
                    <th>待上线数据</th>
                    <th>线上数据</th>
                </tr>
                <tr>
                    <td class="title">应用名（appName）</td>
                    <td>（无）</td>
                    <td ng-if="!editStatus"
                        ng-class="{error: detail.appName != onlineData.appName}"
                    >{{detail.appName || '（空）'}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.appName">
                    </td>
                    <td ng-class="{error: detail.appName != onlineData.appName}">{{onlineData.appName || '（空）'}}</td>
                </tr>
                <tr>
                    <td class="title">包名（pkgName）</td>
                    <td>（无）</td>
                    <td ng-if="!editStatus"
                        ng-class="{error: detail.pkgName != onlineData.pkgName}"
                    >{{detail.pkgName || '（空）'}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.pkgName">
                    </td>
                    <td ng-class="{error: detail.pkgName != onlineData.pkgName}">{{onlineData.pkgName || '（空）'}}</td>
                </tr>
                <tr>
                    <td class="title">正则包名（regPkgName）</td>
                    <td>（无）</td>
                    <td ng-if="!editStatus"
                        ng-class="{error: detail.regPkgName != onlineData.regPkgName}"
                    >{{detail.regPkgName || '（空）'}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.regPkgName">
                    </td>
                    <td ng-class="{error: detail.regPkgName != onlineData.regPkgName}">{{onlineData.regPkgName || '（空）'}}</td>
                </tr>
                <tr>
                    <td class="title">路径（filePath）</td>
                    <td>（无）</td>
                    <td ng-if="!editStatus"
                        ng-class="{error: detail.filePath != onlineData.filePath}"
                    >{{detail.filePath || '（空）'}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.filePath">
                    </td>
                    <td ng-class="{error: detail.filePath != onlineData.filePath}">{{onlineData.filePath || '（空）'}}</td>
                </tr>
                <tr>
                    <td class="title">子路径（subPath）</td>
                    <td>（无）</td>
                    <td ng-if="!editStatus"
                        ng-class="{error: detail.subPath != onlineData.subPath}"
                    >{{detail.subPath || '（空）'}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.subPath">
                    </td>
                    <td ng-class="{error: detail.subPath != onlineData.subPath}">{{onlineData.subPath || '（空）'}}</td>
                </tr>
                <tr>
                    <td class="title">根路径（rootPath）</td>
                    <td>（无）</td>
                    <td ng-if="!editStatus"
                        ng-class="{error: detail.rootPath != onlineData.rootPath}"
                    >{{detail.rootPath || '（空）'}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.rootPath">
                    </td>
                    <td ng-class="{error: detail.rootPath != onlineData.rootPath}">{{onlineData.rootPath || '（空）'}}</td>
                </tr>
                <tr>
                    <td class="title">客户端最低版本号（leastVC）</td>
                    <td>（无）</td>
                    <td ng-if="!editStatus"
                        ng-class="{error: detail.leastVC != onlineData.leastVC}"
                    >{{detail.leastVC}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.leastVC">
                    </td>
                    <td ng-class="{error: detail.leastVC != onlineData.leastVC}">{{onlineData.leastVC}}</td>
                </tr>
                <tr>
                    <td class="title">文件类别</td>
                    <td>{{detail.uiSrcContentTypeTitle || "（无）"}}</td>
                    <td ng-if="!editStatus"
                        ng-class="{error: detail.contentType != onlineData.contentType}"
                    >{{detail.uiContentTypeTitle || "（无）"}}</td>
                    <td ng-if="editStatus">
                        <select class="form-control" ng-model="detail.uiContentTypeOption" ng-options="t.uiTitle for t in contentTypeOptions" ng-change="changeAdviceLevel(detail)"></select>
                    </td>
                    <td ng-class="{error: detail.contentType != onlineData.contentType}">{{onlineData.uiContentTypeOption.uiTitle || "（无）"}}</td>
                </tr>
                <tr>
                    <td class="title">风险级别</td>
                    <td>{{detail.uiSrcAdviceLevelTitle || "（空）"}}</td>
                    <td ng-class="{error: detail.adviceLevel != onlineData.adviceLevel}">{{detail.uiAdviceLevel.name || "（空）"}}</td>
                    <!--
                    <td ng-if="editStatus">
                        <select class="form-control" ng-model="detail.uiAdviceLevel" ng-options="t.name for t in adviceLevelOptions"></select>
                    </td>
                    -->
                    <td ng-class="{error: detail.adviceLevel != onlineData.adviceLevel}">{{onlineData.uiAdviceLevelOption.name || "（空）"}}</td>
                </tr>
                <tr>
                    <td class="title">项目名</td>
                    <td>{{detail.srcItemName || "（空）"}}</td>
                    <td ng-if="!editStatus"
                        ng-class="{error: detail.itemName != onlineData.itemName}"
                    >{{detail.itemName || "（空）"}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.itemName">
                    </td>
                    <td ng-class="{error: detail.itemName != onlineData.itemName}">{{onlineData.itemName || "（空）"}}</td>
                </tr>
                <tr>
                    <td class="title">文件描述</td>
                    <td>{{detail.srcDesc || "（空）"}}</td>
                    <td ng-if="!editStatus"
                        ng-class="{error: detail.desc != onlineData.desc}"
                    >{{detail.desc || "（空）"}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.desc">
                    </td>
                    <td ng-class="{error: detail.desc != onlineData.desc}">{{onlineData.desc || "（空）"}}</td>
                </tr>
                <tr>
                    <td class="title">清理风险</td>
                    <td>{{detail.srcAlertInfo || "（空）"}}</td>
                    <td ng-if="!editStatus"
                        ng-class="{error: detail.alertInfo != onlineData.alertInfo}"
                    >{{detail.alertInfo || "（空）"}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.alertInfo">
                    </td>
                    <td ng-class="{error: detail.alertInfo != onlineData.alertInfo}">{{onlineData.alertInfo || "（空）"}}</td>
                </tr>                
                <tr>
                    <td class="title">清理风险缩写</td>
                    <td>{{detail.srcSimpleAlertInfo || "（空）"}}</td>
                    <td ng-if="!editStatus"
                        ng-class="{error: detail.simpleAlertInfo != onlineData.simpleAlertInfo}"
                    >{{detail.simpleAlertInfo || "（空）"}}</td>
                    <td ng-if="editStatus">
                        <input type="text" class="form-control" ng-model="detail.simpleAlertInfo">
                    </td>
                    <td ng-class="{error: detail.simpleAlertInfo != onlineData.simpleAlertInfo}">{{onlineData.simpleAlertInfo || "（空）"}}</td>
                </tr>
                <tr>
                    <td class="title">客户端删除状态</td>
                    <td>（无）</td>
                    <td ng-if="!editStatus"
                        ng-class="{error: detail.deleted != onlineData.deleted}"
                    >{{detail.uiDeleted.name}}</td>
                    <td ng-if="editStatus">
                        <select class="form-control" ng-model="detail.uiDeleted" ng-options="title.name for title in deletedOptions"></select>
                    </td>
                    <td ng-class="{error: detail.deleted != onlineData.deleted}">{{onlineData.uiDeleted.name}}</td>
                </tr>
            </table>
        </div>
        <div class="footer">
            <div class="btns">
                <p ng-if="!editStatus" class="btn" ng-click="edit(detail);">编辑</p>
                <p ng-if="editStatus">根据规则 id：<input type="text" class="form-control mapping-id" ng-model="detail.mappingRuleId"></p>
                <p ng-if="editStatus" class="btn" ng-click="autoLabelItem(detail)">生成文案</p>
                <p ng-if="editStatus" class="btn" ng-click="cancel(detail);">撤销</p>
                <p ng-if="editStatus" class="btn finish" ng-click="finish(detail);">完成</p>
            </div>
        </div>
    </div>
    <div class="title">清理日志详情</div>
    <div class="warn-detail">
        <p class="title">展示次数：{{cleanLog.totalShowTimes}} 次</p><br>
        <p>扫描总大小 {{cleanLog.totalShowSize}}</p>
        <p>扫描人均大小 {{cleanLog.avgShowSize}}</p>
        <br>
        <p class="title">清理次数：{{cleanLog.totalCleanTimes}} 次</p><br>
        <p>清理率 {{cleanLog.cleanRate}}</p>
        <p>清理总大小 {{cleanLog.totalCleanSize}}</p>
        <p>人均清理总大小 {{cleanLog.avgCleanSize}}</p>
        <br>
        <p class="title">建议清理被取消：{{cleanLog.totalUncheckTimes}} 次</p><br>
        <p>取消率 {{cleanLog.uncheckRate}}</p>
        <p>取消总大小 {{cleanLog.totalUncheckSize}}</p>
        <p>人均取消大小 {{cleanLog.avgUncheckSize}}</p>
        <br>
        <p class="title">谨慎清理次数：{{cleanLog.totalDeepCleanTimes}} 次</p><br>
        <p>清理率 {{cleanLog.deepCleanRate}}</p>
        <p>清理总大小 {{cleanLog.totalDeepCleanSize}}</p>
        <p>人均清理总大小 {{cleanLog.avgDeepCleanSize}}</p>
        <br>
        <p>暂不清理主要原因：“{{cleanLog.mainReason || '（空）' }}”</p>
    </div>

    <div class="title" ng-if="detail.changeHistories.length">竞品监控历史</div>
    <div class="history-box" ng-if="detail.changeHistories.length">
        <ul>
            <li ng-repeat="item in detail.changeHistories">
                <p>{{item.time || "（空）"}}</p>
                <p>来源：{{item.src || "（空）"}}</p>
                <p>字段：{{item.field || "（空）"}}</p>
                <p>操作：{{item.action || "（空）"}}</p>
                <p>从“{{item.from || "（空）"}}”</p>
                <p>变成“{{item.to || "（空）"}}”</p>
            </li>
        </ul>
    </div>
    <div class="title" ng-if="detail.editHistories.length">条目编辑历史</div>
    <div class="history-box" ng-if="detail.editHistories.length">
        <ul>
            <li ng-repeat="item in detail.editHistories">
                <p>{{item.editUser}}</p>
                <p>操作：{{item.actionType}}</p>
                <p>“{{item.content}}”</p>
                <p>修改时间：{{item.editTime}}</p>
            </li>
        </ul>
    </div>
</div>
<div wd-account-header></div>
<div wd-sidebar></div>
<div wd-footer></div>