.sign-in-view {
    text-align: center;
    background-color: #000;   
    overflow: hidden; 
    .sign-in {
        /* 垂直居中 */
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        background-color: $standard-green;
        width: 400px;
        padding: 25px;
        z-index: 200;
        p {
            color: #fff;
            font-size: 25px;
            text-decoration: none;
        }
        .sign-in-form {
            text-align: center;
            width: 100%;
            input {
                margin-top: 20px;
                height: 60px;
                font-size: 25px;
            }
        }
    }

/* 给变金刚效果 */
    #center {
        min-width: 100%;
        width: auto;
        -webkit-user-select: none;
        cursor: default;
        word-break: break-all;
        background-color: #000;
        @include transition(background-color, 1s);

        /* 垂直居中 */
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        table {
            width: 100%;
        }
        td {
            display: inline-block;
            height: 40px;
            overflow: hidden;
            font-size: 25px;
        }
    }
}

