<div class="account-header">
    <div class="left">
        <div class="name">欢迎，{{userName}}</div>
        <!-- <div class="status">可编辑</div> -->
    </div>
    <div class="ad">
        <div class="content">
            <div class="item">
                <p>欢迎使用手机清理运营后台，此处广告位招商。。。</p>
            </div>
            <div class="item">
                <p>广告 1（购买者二饼）：</p>
                <div class="photo"></div>
                <p> 二饼，你真是太温柔贤惠低调腼腆内敛啦！~ </p>
            </div>
        </div>
    </div>
    <div class="right">
        <!-- <div class="email">wangxiao@wandoujia.com</div> -->
        <div class="sign-out-btn" ng-click="signOut();">退出</div>
    </div>
</div>