<div class="wd-sidebar-class">
    <ul class="group">
        <li class="title">首页</li>
    </ul>
    <ul class="group">
        <li class="title">竞品监控</li>
        <li class="item">
            <a href="/#/monitor-all">
                全部竞品项目
                <span ng-if="monitorList.monitorAll" class="num" title="{{monitorList.monitorAll}}">{{monitorList.monitorAll}}</span>
            </a>
        </li>
        <li class="item">
            竞品新增条目
            <span ng-if="monitorList.monitorNew" class="num" title="{{monitorList.monitorNew}}">{{monitorList.monitorNew}}</span>
        </li>
        <li class="item">
            竞品下线条目
            <span ng-if="monitorList.monitorDelete" class="num" title="{{monitorList.monitorDelete}}">{{monitorList.monitorDelete}}</span>
        </li>
        <li class="item">
            竞品改变信息
            <span ng-if="monitorList.monitorModify" class="num" title="{{monitorList.monitorModify}}">{{monitorList.monitorModify}}</span>
        </li>
        <li class="item">
            审核完待上线
            <span ng-if="monitorList.needOnline" class="num" title="{{monitorList.needOnline}}">{{monitorList.needOnline}}</span>
        </li>
    </ul>
    <ul class="group">
        <li class="title">竞品监控规则</li>
        <li class="item">文案生成规则</li>
        <li class="item">文件描述规则</li>
        <li class="item">清理风险规则</li>
        <li class="item">文件类型规则</li>
    </ul>
    <ul class="group">
        <li class="title">数据库查询</li>
        <li class="item">数据搜索筛选</li>
        <li class="item">Mysql 检索</li>
    </ul>
</div>
