<div class="sidebar">
    <ul class="group">
        <li class="title">首页</li>
    </ul>
    <ul class="group">
        <li class="title">竞品监控</li>
        <li class="item">全部竞品项目<span class="num" title="123123">123123</span></li>
        <li class="item">竞品新增条目<span class="num" title="123123">123123</span></li>
        <li class="item">竞品下线条目<span class="num" title="123123">123123</span></li>
        <li class="item">竞品改变信息</li>
        <li class="item">审核完待上线</li>
    </ul>
    <ul class="group">
        <li class="title">竞品监控规则</li>
        <li class="item">文案生成规则</li>
        <li class="item">文件描述规则</li>
        <li class="item">清理风险规则</li>
        <li class="item">文件类型规则</li>
    </ul>
    <ul class="group">
        <li class="title">数据库查询</li>
        <li class="item">数据搜索筛选</li>
        <li class="item">Mysql 检索</li>
    </ul>
</div>
