<div class="wd-sidebar-class">
    <ul class="group">
        <li class="title"><a ng-href="{{preUrl}}/index">首页</a></li>
    </ul>
    <ul class="group">
        <li class="title">竞品监控</li>
        <li class="item">
            <a ng-href="{{preUrl}}/monitor-all">
                全部竞品项目
                <span ng-if="monitorList.monitorAll" class="num" title="{{monitorList.monitorAll}}">{{monitorList.monitorAll}}</span>
            </a>
        </li>
        <li class="item">
            <a ng-href="{{preUrl}}/monitor-all?action=new">
                竞品新增条目
                <span ng-if="monitorList.monitorNew" class="num" title="{{monitorList.monitorNew}}">{{monitorList.monitorNew}}</span>
            </a>
        </li>
        <li class="item">
            <a ng-href="{{preUrl}}/monitor-all?action=offline">
                竞品下线条目
                <span ng-if="monitorList.monitorDelete" class="num" title="{{monitorList.monitorDelete}}">{{monitorList.monitorDelete}}</span>
            </a>
        </li>
        <li class="item">
            <a ng-href="{{preUrl}}/monitor-all?action=change">
                竞品改变信息
                <span ng-if="monitorList.monitorModify" class="num" title="{{monitorList.monitorModify}}">{{monitorList.monitorModify}}</span>
            </a>
        </li>
        <li class="item">
            <a ng-href="{{preUrl}}/monitor-all?action=online">
                审核完待上线
                <span ng-if="monitorList.needOnline" class="num" title="{{monitorList.needOnline}}">{{monitorList.needOnline}}</span>
            </a>
        </li>
    </ul>
    <ul class="group">
        <li class="title">竞品监控规则</li>
        <li class="item">
            <a ng-href="{{preUrl}}/doc-rules">文案映射规则</a>
        </li>
        <li class="item">
            <a ng-href="{{preUrl}}/label-rules?action=desc">文件描述规则</a>
        </li>
        <li class="item">
            <a ng-href="{{preUrl}}/label-rules?action=alertInfo">清理风险规则</a>
        </li>
        <li class="item">
            <a ng-href="{{preUrl}}/content-type-rules">文件类型规则</a>
        </li>
        <li class="item">
            <a ng-href="{{preUrl}}/client-label-rules">客户端标签规则</a>
        </li>
    </ul>
    <ul class="group">
        <li class="title">数据库查询</li>
        <li class="item">
            <a ng-href="{{preUrl}}/search-filter">数据搜索筛选</a>
        </li>
        <li class="item">
            <a ng-href="{{preUrl}}/sql-search">Mysql 检索</a>
        </li>
        <li class="item">
            <a ng-href="{{preUrl}}/applist-search">AppList 检索</a>
        </li>
    </ul>
    <ul class="group">
        <li class="title">配置项编辑</li>
        <li class="item">
            <a ng-href="{{preUrl}}/white-list">白名单配置</a>
        </li>
    </ul>
</div>
