.search-tpl {
    .search-form {
        position: relative;
        background-color: $background-gray;
        padding: 20px 15px;
        overflow: hidden;
        margin-bottom: 15px;
        select {
            color: #000;
        }
        ul {
            float: left;
            color: #000;
            width: 16%;
            padding-right: 10px;
            &.title-list {
                text-align: right;
            }
            li {
                height: 36px;
                line-height: 36px;
            }
        }
        .btns {
            position: absolute;
            right: 80px;
            bottom: 20px;
        }
        .btn {
            color: #000;
            background-color: #cfcfcf;
            height: 26px;
            line-height: 26px;
            padding: 0px 40px;
            border-radius: 0px;
            margin-left: 20px;
            &.search-btn {
                color: #fff;
                background-color: $standard-green;
            }
        }
        a {
            margin-left: 15px;
        }
        .udid-input {
            margin-left: 15px;
            width: 400px;
        }
        &.applist-search-form {
            text-align: center;
        }
    }
    /* search-form end */
    .toolbar {
        overflow: hidden;
        .left {
            float: left;
            .num {
                color: $standard-green;
            }
        }
        .right {
            float: right;
        }
    }
    .result-card {
        margin-top: 20px;
        margin-bottom: 10px;
        .header {
            p {
                margin-right: 10px;
            }
        }
        .footer {
            padding-top: 0px;
            padding-bottom: 0px;
            .edit-btn {
                float: right;
                border-left: 1px solid $border-gray;
                height: 35px;
                padding-left: 15px;
                font-size: 17px;
                line-height: 35px;
                cursor: pointer;
            }
        }
        table {
            th {
                text-align: center;
                color: $standard-green;
            }
            td {
                text-align: center;
                border: none;
            }
        }

    }
    /* result-card end */

    .applist-result {
        text-align: center;
        .left {
            float: left;
            width: 49%;
            margin-right: 0px;
        }
        .right {
            float: right;
            width: 49%;
            margin-right: 0px;
        }
    }

    .pages {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        p {
            cursor: pointer;
            color: $standard-green;
            margin-right: 20px;
        }
        .num {
            margin: 3px;
        }
    }

    .sql-form {
        padding: 20px 15px;
        margin-bottom: 10px;
        background-color: $background-gray;
        overflow: hidden;
        .title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
            display: inline-block;
        }
        .btns {
            float: right;
            margin-top: 10px;
            .btn {
                color: #000;
                background-color: #cfcfcf;
                height: 26px;
                line-height: 26px;
                padding: 0px 40px;
                border-radius: 0px;
                margin-left: 20px;
                &.search-btn {
                    color: #fff;
                    background-color: $standard-green;
                }
            }
        }
    }

}