<div wd-account-header></div>
<div wd-sidebar></div>
<div wd-footer></div>

<div class="search-tpl wd-content">
    <h1>数据库搜索筛选</h1>
    <div class="search-form">
        <ul class="title-list">
            <li>id</li>
            <li>包名</li>
            <li>主路径</li>
            <li>次路径</li>
            <li>正则包名</li>
            <li>根目录</li>
            <li>建议信息</li>
        </ul>
        <ul>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.id">
            </li>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.pkgName">
            </li>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.filePath">
            </li>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.subPath">
            </li>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.regPkgName">
            </li>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.rootPath">
            </li>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.adviceDesc">
            </li>
        </ul>
        <ul class="title-list">
            <li>项目名</li>
            <li>文件描述</li>
            <li>清理风险</li>
            <li>清理风险缩写</li>
            <li>应用名</li>
            <li>下载量</li>
        </ul>
        <ul>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.itemName">
            </li>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.desc">
            </li>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.alertInfo">
            </li>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.simpleAlertInfo">
            </li>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.appName">
            </li>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.installCount">
            </li>
        </ul>
        <ul class="title-list">
            <li>条目类别</li>
            <li>内容类别</li>
            <li>风险级别</li>
            <li>最后更新人</li>
            <li>更新时间</li>
            <li>最低版本号</li>
        </ul>
        <ul>
            <li>
                <select class="form-control" ng-model="filterMap.ui.pathTypeOption" ng-options="value.name for value in pathTypeOptions"></select>
            </li>
            <li>
                <select class="form-control" ng-model="filterMap.ui.contentTypeOption" ng-options="value.uiTitle for value in contentTypeOptions"></select>
            </li>
            <li>
                <select class="form-control" ng-model="filterMap.ui.adviceLevelOption" ng-options="value.name for value in adviceLevelOptions"></select>
            </li>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.lastUpdatedBy">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="" ng-model="filterMap.leastVC">
            </li>
        </ul>
        <div class="btns">
            <div class="btn" ng-click="reset();">重写</div>
            <div class="btn search-btn" ng-click="search();">搜索</div>
        </div>
    </div>
    <!-- search-form end -->

    <div class="toolbar" ng-class="{hide:!dataList.length}">
        <div class="left">
            <!-- <p>共找到 <span class="num">123</span> 条结果</p> -->
        </div>
        <div class="right">
                <!--
                <select class="form-control">
                    <option>按下载量排序</option>
                </select>
                -->
                <p class="page-label">每页展示</p>
                <input class="page-input" type="text" class="form-control" ng-model="pageListLength">
                <p>条</p>
        </div>
    </div>
    <!-- toolbar end -->

    <div class="result-card wd-show-box" ng-repeat="item in dataList">
        <div class="header">
            <p ng-if="item.id">id:{{item.id}}</p>
            <p ng-if="item.pathType">{{getPathType(item.pathType)}}</p>
            <p ng-if="item.appName">{{item.appName}}</p>
            <p ng-if="item.installCount">{{item.installCount}} 下载</p>
            <br>
            <p ng-if="item.pkgName">包名:{{item.pkgName}}</p>
            <p ng-if="item.filePath">主路径:{{item.filePath}}</p>
            <p ng-if="item.subPath">次路径:{{item.subPath}}</p>
        </div>
        <div class="body">
            <table class="table">
                <tr>
                    <th>文件类型</th>
                    <th>项目名</th>
                    <th>文件描述</th>
                    <th>清理风险</th>
                    <th>清理风险缩写</th>
                    <th>风险级别</th>
                </tr>
                <tr>
                    <td>{{item.uiContentType || '（空）' }}</td>
                    <td>{{item.itemName || '（空）' }}</td>
                    <td>{{item.desc || '（空）' }}</td>
                    <td>{{item.alertInfo || '（空）' }}</td>
                    <td>{{item.simpleAlertInfo || '（空）' }}</td>
                    <td>{{item.adviceLevel || '（空）' }}</td>
                </tr>
            </table>
        </div>
        <div class="footer">
            <div class="edit-btn">
                <i class="glyphicon glyphicon-pencil" ng-click="showDetail(item.id)"></i>
            </div>
        </div>
    </div>
    <!-- result-card end -->

    <h4 class="error" ng-if="!dataList.length && !firstFlag">无搜索结果</h4>

    <div class="pages" ng-if="dataList.length === pageListLength">
        <p>上一页</p>
        <p>下一页</p>
    </div>
</div>
