<div wd-account-header></div>
<div wd-sidebar></div>
<div wd-footer></div>

<div class="search-tpl wd-content">
    <h1>数据库搜索筛选</h1>
    <div class="search-form">
        <ul class="title-list">
            <li>id</li>
            <li>包名</li>
            <li>主路径</li>
            <li>次路径</li>
            <li>正则包名</li>
            <li>根目录</li>
            <li>建议信息</li>
        </ul>
        <ul>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
        </ul>
        <ul class="title-list">
            <li>项目名</li>
            <li>文件描述</li>
            <li>清理风险</li>
            <li>清理风险缩写</li>
            <li>应用名</li>
            <li>下载量</li>
        </ul>
        <ul>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
        </ul>
        <ul class="title-list">
            <li>所属数据库</li>
            <li>文件类别</li>
            <li>风险级别</li>
            <li>最后更新人</li>
            <li>更新时间</li>
            <li>最低版本号</li>
        </ul>
        <ul>
            <li>
                <select class="form-control">
                    <option>应用主目录</option>
                </select>
            </li>
            <li>
                <select class="form-control">
                    <option>下载的照片</option>
                </select>
            </li>
            <li>
                <select class="form-control">
                    <option>建议清理</option>
                </select>
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
            <li>
                <input type="text" class="form-control" value="">
            </li>
        </ul>
        <div class="btns">
            <div></div>
            <div></div>
        </div>
    </div>
</div>
