
<div class="search-tpl wd-content">
    <h1>MySql 检索</h1>
    <div class="sql-form">
        <p class="title">输入 Query 语句（暂时只能搜索 select * 并且一定要加入 limit 限制）</p>
        <textarea class="form-control" rows="5" ng-model="sqlQuery"></textarea>
        <div class="btns">
            <div class="btn search-btn" ng-click="searchSql()">搜索</div>
        </div>
    </div>
    <!-- sql-form end -->

    <div class="toolbar" ng-if="dataList.length">
        <div class="left">
            <!-- <p>共找到 <span class="num">123</span> 条结果</p> -->
        </div>
        <div class="right">
                <select class="form-control">
                    <option>按下载量排序</option>
                </select>
            <!--
                <p class="page-label">每页展示</p>
                <input class="page-input form-control" type="text" ng-model="pageListLength" value="{{pageListLength}}" ng-model-options="{ debounce: 1000 }">
                <p>条</p>
            -->
        </div>
    </div>
    <!-- toolbar end -->

    <div class="result-card wd-show-box" ng-repeat="item in dataList">
        <div class="header">
            <p ng-if="item.id">id:{{item.id}}</p>
            <p ng-if="item.pathType">{{pathTypeOptions[item.pathType]}}</p>
            <p ng-if="item.appName">{{item.appName}}</p>
            <p ng-if="item.installCount">{{item.installCount}} 下载</p>
            <br>
            <p ng-if="item.pkgName">包名:{{item.pkgName}}</p>
            <p ng-if="item.filePath">主路径:{{item.filePath}}</p>
            <p ng-if="item.subPath">次路径:{{item.subPath}}</p>
        </div>
        <div class="body">
            <table class="table">
                <tr>
                    <th>文件类型</th>
                    <th>项目名</th>
                    <th>文件描述</th>
                    <th>清理风险</th>
                    <th>清理风险缩写</th>
                    <th>风险级别</th>
                </tr>
                <tr>
                    <td>{{item.contentType || '（空）' }}</td>
                    <td>{{item.itemName || '（空）' }}</td>
                    <td>{{item.desc || '（空）' }}</td>
                    <td>{{item.alertInfo || '（空）' }}</td>
                    <td>{{item.simpleAlertInfo || '（空）' }}</td>
                    <td>{{item.adviceLevel || '（空）' }}</td>
                </tr>
            </table>
        </div>
        <div class="footer">
            <div class="edit-btn">
                <i class="glyphicon glyphicon-pencil" ng-click="showDetail(item.id)"></i>
            </div>
        </div>
    </div>
    <!-- result-card end -->
<!--
    <div class="pages">
        <p>上一页</p>
        <p>下一页</p>
    </div>
-->
</div>

<div wd-account-header></div>
<div wd-sidebar></div>
<div wd-footer></div>
<!-- <div wd-loading data-show="{{showLoading}}"></div> -->
