<div wd-account-header></div>
<div wd-sidebar></div>
<div class="wd-content index">
    <h1>首页</h1>
    <div class="title">数据库总览</div>
    <div class="database-index">
        <select class="top-chose form-control">
            <option>TOP 2000</option>
        </select>
        <div class="update">
            <p>上次更新：2014-06-18</p>
            <p class="update-btn">更新到最新</p>
        </div>
        <table class="data-table table table-striped">
            <tr>
                <th></th>
                <th>WDJ</th>
                <th>竞品1</th>
                <th>竞品2</th>
                <th>竞品3</th>
                <th>竞品4</th>
            </tr>
            <tr>
                <td>数据总库</td>
                <td class="item">123123</td>
                <td class="item">123123123</td>
                <td class="item">123123123</td>
                <td class="item">123123123</td>
                <td class="item">123123123</td>
            </tr>
            <tr>
                <td>应用主目录</td>
                <td class="item">123123</td>
                <td class="item">123123123</td>
                <td class="item">123123123</td>
                <td class="item">123123123</td>
                <td class="item">123123123</td>
            </tr>
            <tr>
                <td>应用缓存目录</td>
                <td class="item">123123</td>
                <td class="item">123123123</td>
                <td class="item">123123123</td>
                <td class="item">123123123</td>
                <td class="item">123123123</td>
            </tr>
            <tr>
                <td>广告缓存目录</td>
                <td class="item">123123</td>
                <td class="item">123123123</td>
                <td class="item">123123123</td>
                <td class="item">123123123</td>
                <td class="item">123123123</td>
            </tr>
        </table>
    </div>
    <div class="title">待处理任务</div>
    <div class="pending-task">
        <div class="item">
            <div class="block orange">
                <i class="glyphicon glyphicon-share-alt"></i>
                <p class="num">1003</p>
            </div>
            <p class="title">竞品数据待审核</p>
        </div>
        <div class="item">
            <div class="block pink">
                <i class="glyphicon glyphicon-warning-sign"></i>
                <p class="coming">COMING SOON</p>
            </div>
            <p class="title">警报待处理</p>
        </div>
        <div class="item">
            <div class="block blue">
                <i class="glyphicon glyphicon-plus"></i>
                <p class="coming">COMING SOON</p>
            </div>
            <p class="title">新条目待标注</p>
        </div>
    </div>
</div>
<div wd-footer></div>