.index {
    .title {
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .database-index {
        border: 1px solid $border-gray;
        margin-bottom: 25px;
        th, td {
            border: none;
        }
        .top-chose {
            float: left;
            display: inline-block;
            margin: 18px 0px 15px 20px;
        }
        .update {
            display: inline-block;
            float: right;
            color: #888;
            font-size: 13px;
            margin: 18px 20px 15px 0px;
            .update-btn {
                margin-left: 30px;
                color: $standard-green;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .data-table {
            margin: 0px;
            th {
                text-align: center;
            }
            .item {
                text-align: center;
                color: #888;
            }
        }
    }
    .pending-task {
        .item {
            float: left;
            width: 33%;
            padding-right: 30px;
            text-align: center;
            cursor: pointer;
            .block {
                width: 100%;
                height: 200px;
                line-height: 200px;
                border-radius: 5px;
                color: #FFF;
                overflow: hidden;
                margin-bottom: 15px;
                &.orange {
                    background-color: $standard-orange;
                }
                &.pink {
                    background-color: $standard-pink;
                }
                &.blue {
                    background-color: $standard-blue;
                }
                i {
                    font-size: 70px;
                    height: 100%;
                    &:before {
                        line-height: 200px;
                    }
                }
                p {
                    vertical-align: top;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight: 300;
                }
                .num {
                    display: inline-block;
                    font-size: 50px;
                    max-width: 70%;
                    text-align: left;
                }
                .coming {
                    display: inline-block;
                    font-size: 32px;
                    width: 140px;
                    margin-top: 63px;
                    word-break: break-all;
                    line-height: 40px;
                }
            }
        }
    }
}